//index
.banner {
  background: url(../images/banner.png) no-repeat;
  background-position: center;
  background-size: cover;
  h1 {
    letter-spacing: 0.7rem !important;
  }
  .title {
    height: 573px;
  }
}

.block-1 {
  padding: 32px 0;
}

.sider-guitar {
  position: absolute;
  max-height: 912px;
  object-fit: cover;
  right: 0;
  z-index: -12;
  opacity: 0.6;
}

.person-move {
  @include media-breakpoint-up(md) {
    top: -10px;
    transform: translateY(5%);
    transform: translatex(10%);
  }
}

.background-box::after {
  @include media-breakpoint-up(md) {
    content: " ";
    display: block;
    position: absolute;
    background-color: $primary;
    width: 150px;
    height: 250px;
    z-index: -12;
    top: -30px;
  }
  @include media-breakpoint-up(lg) {
    content: " ";
    display: block;
    position: absolute;
    background-color: $primary;
    width: 250px;
    height: 400px;
    z-index: -12;
    top: -30px;
  }
}

.guitar-player-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.bacground-borad {
  background: url(../images/container.png) no-repeat;
  background-size: cover;
}

.person-move-1 {
  position: absolute;
}

.social-media {
  width: 24px;
  height: 24px;
}

.carousel-item {
  img {
    height: 250px;
    object-fit: cover;
  }
}

.guitarist {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

//member
.border-dashed {
  border-style: dashed !important;
}
