<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
    <link rel="preconnect" hresf="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined"
    />
  </head>

  <body>
    <header>
      <nav class="bg-black border-bottom">
        <div class="container d-flex justify-content-between px-0 px-md-12">
          <a class="bg-primary text-white fs-1 px-16 px-md-102 title" href="#"
            >Logo</a
          >
          <ul class="d-flex list-unstyled mb-0 align-items-stretch">
            <li class="border-start px-16 px-md-40 py-8 py-md-24">
              <a href="#">
                <span class="material-icons text-white"> shopping_cart </span>
              </a>
            </li>
            <li class="border-start border-end px-16 px-md-40 py-8 py-md-16">
              <a class="fs-5 fw-bold text-white" href="">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <%- contents %>

    <footer class="footer">footer</footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
