@import "../../../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "./layout/index.scss";

.bt-line {
  border-bottom: 5px solid $primary;
  padding-bottom: 16px;
}

.card-img {
  height: 350px;
  object-fit: cover;
  @include media-breakpoint-up(md) {
    height: 100%;
  }
}

.card-img-overlay {
  &::after {
    transition: all 0.35s ease;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    opacity: 0.8;
    z-index: 1;
  }
}

.card-img-overlay:hover {
  &::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(180deg, rgba(240, 118, 47, 0) 0%, #f0762f 100%);
    z-index: 1;
  }
}

.swiper-container {
  .swiper-slide {
    width: auto;
  }
}

.f-h {
  height: 900px;
}

//login
.login-line {
  &::before,
  &::after {
    content: " ";
    height: 1px;
    width: 30%;
    background-color: white;
  }
}
